body {
    background-color: #81abeb;
    color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    font-size: 30px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    background-color: #000000;
    color: rgb(255, 255, 255);
    width: 500px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    border: 3px solid white;
    border-radius: 10px;
    opacity: 0.5;

}

button:hover {
    transition: 1000ms;
    background-color: #120a5e;
    color: rgb(255, 255, 255);
    opacity: 1.0;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: justify;
    max-width: 70%;
}

img {
    margin-top: 500px;
    max-width: 2000px;
    max-height: 700px;
}